@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

* {
  box-sizing: border-box; }

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none; }

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none; }

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

a {
  text-decoration: none; }

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: none; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

img,
svg {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none; }

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0; }

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */ }

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner-container spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner-container spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner-container padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner-container padding and border in Firefox 3+.
 */
button::-moz-focus-inner-container,
input::-moz-focus-inner-container {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

html,
button,
input,
select,
textarea {
  color: #222; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

img {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

body {
  max-width: 1920px;
  margin: 0 auto; }

.container {
  padding: 30px 15px;
  margin-right: auto;
  margin-left: auto; }

.form-modal {
  z-index: 1;
  background: #ffffff;
  opacity: 0.81;
  box-shadow: 0px -1px 21px rgba(0, 0, 0, 0.25);
  border-radius: 10px; }
  .form-modal .title-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    height: 80px;
    background-color: #3d5b99;
    border-radius: 10px 10px 0 0; }
  .form-modal .input-wrapper {
    display: flex;
    flex-direction: column;
    padding: 30px 40px 40px; }
    .form-modal .input-wrapper p {
      font-size: 15px;
      line-height: 1.1;
      color: #6d6b6b;
      width: 348px;
      margin-bottom: 30px; }
    .form-modal .input-wrapper input {
      width: 348px;
      height: 53px;
      border-radius: 10px;
      border: none;
      padding: 0 20px;
      font-family: Roboto; }
      .form-modal .input-wrapper input[type="text"] {
        background: #e9e9e9;
        font-size: 15px;
        line-height: 2; }
        @media only screen and (min-width: 1900px) {
          .form-modal .input-wrapper input[type="text"] {
            font-size: 18px;
            line-height: 1.7; } }
      .form-modal .input-wrapper input:not(:last-child) {
        margin-bottom: 20px; }
      .form-modal .input-wrapper input:last-child {
        margin-top: 10px; }

.main-block {
  display: none; }
  @media only screen and (min-width: 768px) {
    .main-block {
      display: block;
      background: radial-gradient(50.45% 193.65% at 49.55% 50.07%, #5980d0 0%, #3c62af 51.04%, #324c82 100%);
      height: 555px; }
      .main-block .container {
        display: flex;
        align-items: center; }
        .main-block .container .img-wrapper {
          margin: auto 86px 0 auto; }
        .main-block .container .text-wrapper h1 {
          margin-bottom: 50px; }
        .main-block .container .text-wrapper .button.light {
          width: auto; } }
  @media only screen and (min-width: 992px) {
    .main-block .container .text-wrapper .button.light {
      width: 317px; } }
  @media only screen and (min-width: 1900px) {
    .main-block .container .img-wrapper {
      margin-right: -45px; }
    .main-block .container .text-wrapper .button.light {
      width: 358px;
      height: 65px; } }

.form-wrapper {
  display: none;
  background-color: #ecf8fd; }
  .form-wrapper .img-wrapper {
    display: none; }
  @media only screen and (min-width: 768px) {
    .form-wrapper {
      position: relative;
      display: block; }
      .form-wrapper .container {
        padding-top: 50px;
        padding-bottom: 50px; }
        .form-wrapper .container h4 {
          font-family: Roboto;
          font-weight: 500;
          font-size: 30px;
          line-height: 1;
          color: #3d5b99;
          margin-bottom: 30px; }
        .form-wrapper .container p {
          font-weight: 300;
          margin-bottom: 23px; }
        .form-wrapper .container form {
          display: flex;
          flex-wrap: wrap; }
          .form-wrapper .container form .input-wrapper {
            width: 350px;
            margin-bottom: 30px; }
          .form-wrapper .container form input,
          .form-wrapper .container form textarea {
            border-radius: 10px;
            background-color: #ffffff;
            font-family: Roboto;
            font-weight: 300;
            font-size: 16px;
            line-height: 1.6;
            color: #5b5959;
            border: none;
            width: 360px;
            height: 44px;
            padding: 9px 20px; }
          .form-wrapper .container form input:not(:last-child) {
            margin-bottom: 18px; }
          .form-wrapper .container form textarea {
            width: 325px;
            height: 182px;
            margin: 0 auto 0 35px; }
          .form-wrapper .container form .button-wrapper {
            width: 100%; }
            .form-wrapper .container form .button-wrapper button {
              width: 360px; } }
  @media only screen and (min-width: 1400px) {
    .form-wrapper {
      z-index: 0;
      margin-bottom: 95px; }
      .form-wrapper .img-wrapper {
        display: block;
        position: absolute;
        right: 0;
        top: -135px;
        z-index: -1; }
      .form-wrapper .container form {
        z-index: 1; }
        .form-wrapper .container form .input-wrapper {
          width: 40%; }
        .form-wrapper .container form input,
        .form-wrapper .container form button {
          width: 408px; }
        .form-wrapper .container form .button-wrapper button {
          width: 408px; } }
  @media only screen and (min-width: 1900px) {
    .form-wrapper .container form .input-wrapper {
      width: 35%; } }

@media only screen and (min-width: 768px) {
  .container {
    width: 750px; } }

@media only screen and (min-width: 992px) {
  .container {
    width: 970px; } }

@media only screen and (min-width: 1200px) {
  .container {
    width: 1170px; } }

@media only screen and (min-width: 1200px) {
  .container {
    padding-left: 0;
    padding-right: 0; } }

h1 {
  font-family: Azbuka01;
  font-size: 22px;
  color: #ffffff; }
  @media only screen and (min-width: 768px) {
    h1 {
      font-size: 35px; } }
  @media only screen and (min-width: 992px) {
    h1 {
      font-size: 50px; } }
  @media only screen and (min-width: 1200px) {
    h1 {
      font-size: 60px; } }

h2 {
  font-family: Azbuka01;
  font-size: 20px;
  line-height: 1.5;
  color: #3d5b99; }
  @media only screen and (min-width: 992px) {
    h2 {
      font-size: 40px;
      line-height: 0.7; } }
  @media only screen and (min-width: 1900px) {
    h2 {
      font-size: 50px;
      line-height: 1.6; } }

h3 {
  font-family: Roboto;
  font-size: 30px;
  line-height: 1; }

.contact {
  font-family: Roboto;
  font-size: 15px;
  line-height: 1.6;
  color: #ffffff; }

.nav-item {
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.01em;
  text-transform: uppercase; }

.text-logo {
  font-family: Roboto;
  font-weight: 500; }

p {
  font-family: Roboto;
  line-height: 1.6;
  font-size: 15px; }
  @media only screen and (min-width: 1200px) {
    p {
      font-size: 16px; } }
  @media only screen and (min-width: 1900px) {
    p {
      font-size: 18px; } }

.link {
  font-family: Roboto;
  font-weight: 300;
  font-size: 14px;
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration-line: underline;
  color: #4162a4; }
  @media only screen and (min-width: 768px) {
    .link {
      display: inline-block;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.9;
      color: #ffffff;
      text-transform: uppercase;
      background: #4162a4;
      border-radius: 10px;
      width: 221px;
      text-decoration-line: none;
      line-height: 46px; } }

.li-item {
  font-family: Roboto;
  font-size: 15px;
  line-height: 1.16;
  color: #5b5959;
  position: relative;
  margin-left: 15px;
  margin-bottom: 11px; }
  .li-item::before {
    content: "";
    position: absolute;
    background-color: #3d5b99;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    left: -15px;
    top: 5px; }
  @media only screen and (min-width: 1200px) {
    .li-item {
      font-size: 16px;
      font-size: 16px;
      margin-bottom: 17px;
      margin-left: 20px; }
      .li-item::before {
        width: 9px;
        height: 9px;
        left: -20px; } }
  @media only screen and (min-width: 1200px) {
    .li-item {
      margin-bottom: 20px; } }

.button {
  width: 100%;
  border-radius: 4px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 34px;
  border: none; }
  @media only screen and (min-width: 768px) {
    .button {
      font-size: 16px;
      text-transform: uppercase;
      height: 46px;
      border-radius: 10px; } }
  @media only screen and (min-width: 1900px) {
    .button {
      font-size: 18px;
      height: 46px; } }
  .button.dark {
    background: #3d5b99;
    color: #ffffff; }
    .button.dark:hover {
      background-color: #4668af; }
  .button.light {
    background-color: #dbf5ff;
    color: #344f88; }
    .button.light:hover {
      background-color: #b4e9ff; }

@font-face {
  font-family: 'Azbuka01';
  src: url("fonts/ofont.ru_Azbuka01.eot");
  src: local("☺"), url("fonts/ofont.ru_Azbuka01.woff") format("woff"), url("fonts/ofont.ru_Azbuka01.ttf") format("truetype"), url("fonts/ofont.ru_Azbuka01.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("fonts/Roboto-Bold.eot");
  src: local("☺"), url("fonts/Roboto-Bold.woff") format("woff"), url("fonts/Roboto-Bold.ttf") format("truetype"), url("fonts/Roboto-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("fonts/Roboto-Light.eot");
  src: local("☺"), url("fonts/Roboto-Light.woff") format("woff"), url("fonts/Roboto-Light.ttf") format("truetype"), url("fonts/Roboto-Light.svg") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("fonts/Roboto-Medium.eot");
  src: local("☺"), url("fonts/Roboto-Medium.woff") format("woff"), url("fonts/Roboto-Medium.ttf") format("truetype"), url("fonts/Roboto-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("fonts/Roboto-Regular.eot");
  src: local("☺"), url("fonts/Roboto-Regular.woff") format("woff"), url("fonts/Roboto-Regular.ttf") format("truetype"), url("fonts/Roboto-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center; }

.footer {
  background-color: #3d5b99; }
  .footer .map {
    display: none; }
  .footer .container {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap; }
    .footer .container .wrapper-logo {
      display: flex;
      width: 100%;
      align-items: center; }
      .footer .container .wrapper-logo svg {
        fill: #ffffff;
        width: 30px;
        height: 30px; }
      .footer .container .wrapper-logo .text-logo {
        color: #ffffff;
        margin-left: 18px;
        font-size: 25px;
        line-height: 1.2; }
    .footer .container h5 {
      line-height: 2.2;
      font-weight: 500; }
    .footer .container .wrapper-img,
    .footer .container h5 {
      margin-top: 11px; }
    .footer .container .wrapper-img.address {
      display: flex;
      align-items: center;
      width: 100%; }
      .footer .container .wrapper-img.address svg {
        margin: 0 9px 0 3px; }
    .footer .container .wrapper-img.mail {
      width: 100%; }
    .footer .container .wrapper-img svg {
      margin-right: 9px; }
    .footer .container .wrapper-img:last-child {
      margin-left: 20px; }
  @media only screen and (min-width: 1200px) {
    .footer {
      background: none;
      position: relative; }
      .footer::before {
        display: block;
        position: absolute;
        content: "";
        background-image: url("data:image/svg+xml,%3Csvg width='699' height='371' viewBox='0 0 699 371' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M621.05 371C762.225 212.937 679.873 57.807 621.05 0H0V371H621.05Z' fill='%233D5B99'/%3E%3C/svg%3E%0A");
        width: 699px;
        height: 371px;
        left: 0;
        top: 0;
        z-index: -1; }
      .footer .container {
        height: 371px;
        padding-top: 45px;
        padding-bottom: 45px;
        flex-direction: column; }
        .footer .container .wrapper-logo svg {
          width: 47px;
          height: 47px; }
        .footer .container .wrapper-logo .text-logo {
          font-size: 30px; }
        .footer .container .wrapper-img,
        .footer .container h5 {
          margin-top: 15px;
          font-weight: 500; }
        .footer .container h5 {
          font-size: 18px; }
        .footer .container .wrapper-img p.contact,
        .footer .container .wrapper-img a.contact {
          font-size: 16px; }
        .footer .container .wrapper-img:last-child {
          margin-left: 0; }
      .footer .map {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 80%;
        height: 100%;
        z-index: -2; }
        .footer .map iframe {
          width: 100%;
          height: 100%; } }
  @media only screen and (min-width: 1600px) {
    .footer::before {
      content: "";
      background-image: url("data:image/svg+xml,%3Csvg width='955' height='371' viewBox='0 0 955 371' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M872 371C1016 230 942 63.5 872 0H0V371H872Z' fill='%233D5B99'/%3E%3C/svg%3E");
      width: 954px;
      height: 371px; }
    .footer .container h5 {
      font-size: 20px; }
    .footer .container .wrapper-img p.contact,
    .footer .container .wrapper-img a.contact {
      font-size: 18px; } }

.header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 2; }
  .header .contacts {
    background-color: #3d5b99;
    height: 45px;
    display: flex; }
    .header .contacts .container {
      padding-top: 0;
      padding-bottom: 0;
      display: flex;
      justify-content: flex-end;
      align-items: center; }
      .header .contacts .container .wrapper-img:not(:last-child) {
        margin-right: 24px; }
      .header .contacts .container .wrapper-img svg {
        margin-right: 10px; }
      .header .contacts .container .wrapper-img.address {
        display: flex;
        align-items: center;
        margin-right: 32px; }
      .header .contacts .container .wrapper-img a {
        font-size: 19px; }
  .header .wrapper-nav {
    background-color: #ffffff; }
    .header .wrapper-nav .container {
      height: 90px;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .header .wrapper-nav .container .wrapper-logo {
        display: flex;
        align-items: center; }
        .header .wrapper-nav .container .wrapper-logo svg {
          fill: #3d5b99;
          height: 60px;
          width: 60px; }
        .header .wrapper-nav .container .wrapper-logo .text-logo {
          font-size: 35px;
          line-height: 0.9;
          color: #000000;
          margin-left: 25px; }
      .header .wrapper-nav .container .nav-desktop {
        text-align: right; }
        .header .wrapper-nav .container .nav-desktop .nav-item {
          color: #000000;
          margin-left: 25px; }
          .header .wrapper-nav .container .nav-desktop .nav-item.active, .header .wrapper-nav .container .nav-desktop .nav-item:hover {
            color: #3d5b99; }
        @media only screen and (max-width: 1199px) {
          .header .wrapper-nav .container .nav-desktop .nav-item {
            margin-left: 10px;
            font-size: 15px; } }
        @media only screen and (max-width: 991px) {
          .header .wrapper-nav .container .nav-desktop .nav-item {
            margin-left: 4px;
            font-size: 11px; } }
  @media only screen and (max-width: 767px) {
    .header .contacts,
    .header .wrapper-nav {
      display: none; } }
  .header .mobile-header {
    background: radial-gradient(50.45% 193.65% at 49.55% 50.07%, #5980d0 0%, #3c62af 51.04%, #324c82 100%);
    height: 195px;
    position: relative; }
    .header .mobile-header .container {
      padding-top: 0;
      padding-bottom: 0;
      display: flex;
      flex-wrap: wrap; }
      .header .mobile-header .container .wrapper-logo {
        width: 50%;
        margin-top: 15px;
        display: flex;
        align-items: center; }
        .header .mobile-header .container .wrapper-logo svg {
          fill: #ffffff;
          height: 23px;
          width: 23px; }
        .header .mobile-header .container .wrapper-logo .text-logo {
          font-size: 14px;
          line-height: 2.1;
          color: #fffbfb;
          margin-left: 10px; }
      .header .mobile-header .container .wrapper-menu {
        width: 50%;
        display: flex;
        justify-content: flex-end; }
        .header .mobile-header .container .wrapper-menu .menu {
          z-index: 1;
          margin-top: 20px; }
          .header .mobile-header .container .wrapper-menu .menu .bar {
            width: 24px;
            height: 2px;
            background-color: #ffffff;
            border-radius: 5px; }
            .header .mobile-header .container .wrapper-menu .menu .bar:not(:last-child) {
              margin-bottom: 5.5px; }
      .header .mobile-header .container .wrapper-title {
        width: 50%; }
        .header .mobile-header .container .wrapper-title h1 {
          text-align: left;
          margin-top: 22px; }
        .header .mobile-header .container .wrapper-title a {
          margin-top: 16px;
          max-width: 140px; }
      .header .mobile-header .container .wrapper-header-image {
        position: absolute;
        width: 258px;
        height: 172px;
        left: 103px;
        top: 23px; }
        @media only screen and (min-width: 480px) {
          .header .mobile-header .container .wrapper-header-image {
            left: 200px; } }
        @media only screen and (min-width: 576px) {
          .header .mobile-header .container .wrapper-header-image {
            left: 290px; } }
        .header .mobile-header .container .wrapper-header-image img {
          width: 100%; }
    .header .mobile-header .side-panel {
      width: 0;
      position: fixed;
      z-index: 3;
      height: 100%;
      top: 0;
      right: 0;
      overflow-x: hidden;
      background: radial-gradient(50.45% 193.65% at 49.55% 50.07%, #5980d0 0%, #3c62af 51.04%, #324c82 100%);
      display: flex;
      flex-direction: column; }
      .header .mobile-header .side-panel.active {
        width: 250px; }
      .header .mobile-header .side-panel .wrapper-logo {
        width: 100%;
        margin: 30px; }
        .header .mobile-header .side-panel .wrapper-logo svg {
          width: 47px;
          height: 47px; }
        .header .mobile-header .side-panel .wrapper-logo .text-logo {
          margin-left: 30px;
          font-size: 25px;
          line-height: 1.2; }
      .header .mobile-header .side-panel .line {
        width: auto;
        height: 1px;
        background-color: #ffffff;
        margin: 0 15px; }
      .header .mobile-header .side-panel .nav-sidebar {
        padding: 30px;
        text-align: left; }
        .header .mobile-header .side-panel .nav-sidebar .nav-item {
          display: block;
          color: rgba(255, 255, 255, 0.75); }
          .header .mobile-header .side-panel .nav-sidebar .nav-item.active {
            color: #ffffff;
            font-weight: 700; }
          .header .mobile-header .side-panel .nav-sidebar .nav-item:not(:last-child) {
            margin-bottom: 11px; }
      .header .mobile-header .side-panel .contact-wrapper {
        height: 300px; }
      .header .mobile-header .side-panel h5.contact {
        font-weight: 500;
        margin: 30px 30px 20px;
        text-align: left; }
      .header .mobile-header .side-panel .wrapper-img {
        text-align: left;
        margin-left: 30px;
        display: flex;
        align-items: center;
        margin-bottom: 10px; }
        .header .mobile-header .side-panel .wrapper-img svg {
          margin-right: 12px; }
        .header .mobile-header .side-panel .wrapper-img.address svg {
          margin-left: 3px;
          margin-bottom: 20px; }
        .header .mobile-header .side-panel .wrapper-img:last-child {
          margin-top: -3px; }
    @media only screen and (min-width: 768px) {
      .header .mobile-header {
        display: none; } }
  .header.page-rheumatology .mobile-header .container .wrapper-header-image {
    width: 176px;
    height: 176px;
    right: 5px;
    left: auto;
    bottom: 0;
    top: initial; }
    @media only screen and (min-width: 480px) {
      .header.page-rheumatology .mobile-header .container .wrapper-header-image {
        right: 36px; } }
    @media only screen and (min-width: 576px) {
      .header.page-rheumatology .mobile-header .container .wrapper-header-image {
        right: 130px; } }
  .header.page-rheumatology .mobile-header .container .wrapper-title h1 {
    margin-top: 28px; }

.main-block-form {
  background: radial-gradient(50.45% 193.65% at 49.55% 50.07%, #5980d0 0%, #3c62af 51.04%, #324c82 100%); }
  .main-block-form .container {
    height: 735px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .main-block-form .container .text-wrapper {
      z-index: 1;
      width: 45%; }
      .main-block-form .container .text-wrapper p {
        font-size: 20px;
        line-height: 1.12;
        color: #ffffff;
        margin-top: 50px; }
        @media only screen and (max-width: 1199px) {
          .main-block-form .container .text-wrapper p {
            font-size: 12px;
            margin-top: 20px; } }
      @media only screen and (min-width: 1900px) {
        .main-block-form .container .text-wrapper h1 {
          font-size: 70px; }
        .main-block-form .container .text-wrapper p {
          font-size: 25px; } }
    .main-block-form .container .img-wrapper {
      position: absolute;
      bottom: 0;
      right: 25px; }
  @media only screen and (max-width: 767px) {
    .main-block-form {
      display: none; } }

.rheumatology {
  overflow: hidden; }
  .rheumatology .container {
    position: relative; }
    .rheumatology .container p {
      margin-top: 10px;
      padding-right: 20px;
      margin-bottom: 22px; }
    .rheumatology .container .img-wrapper {
      position: absolute;
      right: -67px;
      top: 200px; }
      .rheumatology .container .img-wrapper img {
        height: 217px; }
    .rheumatology .container a {
      margin-top: 27px; }
    @media only screen and (min-width: 480px) {
      .rheumatology .container .img-wrapper {
        top: 160px; }
        .rheumatology .container .img-wrapper img {
          height: 300px; } }
    @media only screen and (min-width: 768px) {
      .rheumatology .container .text-wrapper {
        display: flex;
        flex-wrap: wrap;
        width: 60%; }
        .rheumatology .container .text-wrapper p {
          font-size: 20px;
          margin-top: 32px;
          margin-bottom: 30px; }
        .rheumatology .container .text-wrapper .wrapper-items {
          width: 49%; }
      .rheumatology .container .img-wrapper {
        right: -200px;
        top: auto;
        bottom: 0; }
        .rheumatology .container .img-wrapper img {
          height: auto; } }
    @media only screen and (min-width: 992px) {
      .rheumatology .container .img-wrapper {
        height: 98%; } }
    @media only screen and (min-width: 1200px) {
      .rheumatology .container {
        padding-top: 103px;
        padding-bottom: 127px; }
        .rheumatology .container .img-wrapper {
          height: 614px;
          top: 77px;
          right: -63px; }
          .rheumatology .container .img-wrapper img {
            height: 100%; } }
    @media only screen and (min-width: 1600px) {
      .rheumatology .container {
        padding-top: 85px; }
        .rheumatology .container .text-wrapper {
          padding-left: 10px; }
          .rheumatology .container .text-wrapper p {
            margin-top: 10px; }
        .rheumatology .container .wrapper-items {
          width: 50%; }
        .rheumatology .container .img-wrapper {
          height: 611px;
          top: 112px;
          right: -133px; } }

.immunology {
  background: linear-gradient(90deg, #35518c 0%, #557bcb 100%); }
  .immunology .background-image,
  .immunology .img-wrapper-desktop {
    display: none; }
  .immunology .container {
    padding-top: 20px; }
    .immunology .container p {
      margin-top: 10px; }
      .immunology .container p.important {
        font-weight: 500; }
    .immunology .container a {
      margin-top: 20px; }
    .immunology .container .img-wrapper-mobile img {
      width: 100%; }
  @media only screen and (max-width: 991px) {
    .immunology h2,
    .immunology a,
    .immunology p {
      color: #ffffff; } }
  @media only screen and (min-width: 992px) {
    .immunology {
      position: relative;
      height: 646px;
      display: flex;
      background: #ecf8fd; }
      .immunology .background-image {
        position: absolute;
        display: block; }
      .immunology .img-wrapper-desktop {
        position: absolute;
        display: block; }
        .immunology .img-wrapper-desktop img {
          width: 100%; }
      .immunology .container {
        background: none;
        display: flex;
        justify-content: flex-end; }
        .immunology .container .img-wrapper-mobile {
          display: none; }
        .immunology .container .text-wrapper {
          width: 24%; }
          .immunology .container .text-wrapper p {
            font-size: 15px; } }
  @media only screen and (min-width: 1200px) {
    .immunology .container {
      padding-top: 76px;
      padding-bottom: 80px; }
      .immunology .container .text-wrapper {
        width: 35%;
        display: flex;
        flex-direction: column;
        justify-content: space-between; } }
  @media only screen and (min-width: 1400px) {
    .immunology .container .text-wrapper {
      width: 45%; }
      .immunology .container .text-wrapper p {
        font-size: 16px; } }

.allergology .img-wrapper-desktop {
  display: none; }

.allergology .container .text-wrapper h2 {
  margin-bottom: 10px; }

.allergology .container .text-wrapper a {
  margin-top: 20px; }

.allergology .container .text-wrapper .img-wrapper-mobile {
  margin: 30px 0; }
  .allergology .container .text-wrapper .img-wrapper-mobile img {
    width: 100%; }

@media only screen and (min-width: 992px) {
  .allergology {
    position: relative;
    height: 716px; }
    .allergology .img-wrapper-desktop {
      display: block;
      position: absolute;
      bottom: 0;
      right: 0; }
    .allergology .container .text-wrapper {
      width: 43%; }
      .allergology .container .text-wrapper h2 {
        margin-bottom: 0; }
      .allergology .container .text-wrapper p {
        margin-top: 30px; }
      .allergology .container .text-wrapper a {
        margin-top: 40px; }
      .allergology .container .text-wrapper .img-wrapper-mobile {
        display: none; } }

@media only screen and (min-width: 1200px) {
  .allergology {
    display: flex;
    align-items: center; }
    .allergology .container .text-wrapper {
      width: 48%; } }

@media only screen and (min-width: 1400px) {
  .allergology .container {
    padding-top: 120px;
    padding-bottom: 127px; } }

@media only screen and (min-width: 1900px) {
  .allergology {
    height: 788px; }
    .allergology .container {
      padding-top: 100px; }
      .allergology .container .text-wrapper {
        width: 60%; }
        .allergology .container .text-wrapper p {
          margin-top: 0;
          margin-bottom: 20px; }
        .allergology .container .text-wrapper a {
          margin-top: 10px; } }

.high-quality {
  background-color: #ecf8fd;
  position: relative;
  overflow: hidden; }
  .high-quality .container {
    text-align: center; }
    .high-quality .container p {
      font-family: Azbuka01;
      font-size: 16px;
      line-height: 1.5;
      color: #3d5b99; }
    .high-quality .container .addition-p {
      display: none; }
    .high-quality .container .link {
      margin-top: 20px;
      display: inline-block;
      color: #ffffff;
      background: #4162a4;
      border-radius: 10px;
      width: 139px;
      text-decoration-line: none;
      line-height: 34px; }
  .high-quality::before, .high-quality::after {
    display: block;
    position: absolute;
    content: "";
    width: 72px;
    height: 72px; }
  .high-quality::before {
    background-image: url("data:image/svg+xml,%3Csvg width='69' height='76' viewBox='0 0 69 76' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M31.2263 2L-4.34677 12.7737C-9.51145 54.3971 17.2166 70.9343 31.2263 74C65.6926 63.4891 68.9513 28.8029 66.2723 12.7737L31.2263 2Z' stroke='white' stroke-opacity='0.5' stroke-width='2.68085'/%3E%3Cpath d='M25.2422 20.3828V30.7046H14.5312V41.9526H25.2422V52.936H36.6226V41.9526H47.4674V30.7046H36.6226V20.3828H25.2422Z' stroke='white' stroke-opacity='0.5' stroke-width='2.68085'/%3E%3C/svg%3E");
    left: -5px;
    bottom: 0; }
  .high-quality::after {
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='76' viewBox='0 0 42 76' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M38.2263 2L2.65323 12.7737C-2.51145 54.3971 24.2166 70.9343 38.2263 74C72.6926 63.4891 75.9513 28.8029 73.2723 12.7737L38.2263 2Z' stroke='white' stroke-opacity='0.5' stroke-width='2.68085'/%3E%3Cpath d='M32.2422 20.3828V30.7046H21.5312V41.9526H32.2422V52.936H43.6226V41.9526H54.4674V30.7046H43.6226V20.3828H32.2422Z' stroke='white' stroke-opacity='0.5' stroke-width='2.68085'/%3E%3C/svg%3E");
    right: -29px;
    top: 54px; }
  @media only screen and (min-width: 768px) {
    .high-quality .container {
      padding: 50px; }
      .high-quality .container p {
        font-size: 30px; }
      .high-quality .container .link {
        width: 320px;
        line-height: 46px; } }
  @media only screen and (min-width: 1200px) {
    .high-quality .container p.addition-p {
      display: block;
      font-family: Roboto;
      font-weight: 300;
      font-size: 16px;
      line-height: 1.1;
      color: #6d6b6b;
      margin: 15px auto 10px; }
    .high-quality::before {
      width: 188px;
      height: 188px;
      background-size: 188px 188px;
      left: -23px;
      top: -13px; }
    .high-quality::after {
      background-image: url("data:image/svg+xml,%3Csvg width='196' height='196' viewBox='0 0 196 196' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M98.5908 4L5.70565 32.1314C-7.7799 140.815 62.0101 183.995 98.5908 192C188.586 164.555 197.095 73.9854 190.1 32.1314L98.5908 4Z' stroke='white' stroke-opacity='0.5' stroke-width='7'/%3E%3Cpath d='M82.9675 55V81.9512H55V111.321H82.9675V140H112.683V111.321H141V81.9512H112.683V55H82.9675Z' stroke='white' stroke-opacity='0.5' stroke-width='7'/%3E%3C/svg%3E");
      right: 0;
      bottom: 0;
      width: 188px;
      height: 188px;
      background-size: 188px 188px; } }
  @media only screen and (min-width: 1900px) {
    .high-quality .container p.addition-p {
      margin-top: 5px; } }

.immunologists .container {
  padding-right: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .immunologists .container .link {
    margin-right: 15px; }
  .immunologists .container .card-wrapper {
    display: flex;
    overflow: hidden;
    text-align: center; }
    .immunologists .container .card-wrapper img {
      height: 368px;
      margin-bottom: 10px; }
    .immunologists .container .card-wrapper span {
      display: block; }
    .immunologists .container .card-wrapper .name {
      line-height: 1.1;
      color: #4162a4; }
    .immunologists .container .card-wrapper .spec {
      font-weight: bold;
      font-size: 14px;
      line-height: 2;
      color: #4162a4; }

@media only screen and (min-width: 768px) {
  .immunologists .container .link {
    font-weight: 300;
    color: #4162a4;
    text-decoration: underline;
    text-transform: capitalize;
    background: none; } }

@media only screen and (min-width: 992px) {
  .immunologists .container .link {
    display: none; }
  .immunologists .container .card-wrapper {
    margin: auto;
    justify-content: space-around;
    width: 100%; }
    .immunologists .container .card-wrapper img {
      margin-bottom: 15px; }
    .immunologists .container .card-wrapper .spec {
      margin-top: 10px; } }

@media only screen and (min-width: 1200px) {
  .immunologists {
    position: relative; }
    .immunologists .background {
      position: absolute;
      width: 100%;
      height: 223px;
      background: radial-gradient(50.45% 193.65% at 49.55% 50.07%, #5980d0 0%, #3c62af 51.04%, #324c82 100%);
      bottom: 0;
      left: 0;
      z-index: -1; }
    .immunologists .container {
      padding-top: 120px; }
      .immunologists .container .card-wrapper .name,
      .immunologists .container .card-wrapper .spec {
        color: #ffffff;
        font-size: 18px; } }

@media only screen and (min-width: 1900px) {
  .immunologists .container .name,
  .immunologists .container .spec {
    font-size: 20px; } }

.license {
  background-color: #e7f7fe;
  overflow: hidden; }
  .license .container {
    padding-right: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .license .container .link {
      margin-right: 15px; }
    .license .container .card-wrapper {
      margin-top: 10px;
      display: flex;
      overflow: hidden;
      text-align: center; }
      .license .container .card-wrapper .img-wrapper:not(:last-child) {
        margin-right: 20px; }
  @media only screen and (min-width: 768px) {
    .license .container .link {
      font-weight: 300;
      color: #4162a4;
      text-decoration: underline;
      text-transform: capitalize;
      background: none; }
    .license .container .card-wrapper {
      margin: 50px auto 0;
      justify-content: space-around;
      width: 100%; } }
  @media only screen and (min-width: 992px) {
    .license {
      position: relative; }
      .license::before, .license::after {
        display: block;
        position: absolute;
        content: "";
        opacity: 0.5; }
      .license::before {
        background-image: url("data:image/svg+xml,%3Csvg width='263' height='261' viewBox='0 0 263 261' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M262.056 130.876C260.651 121.187 255.558 112.625 247.714 106.767C239.871 100.908 230.215 98.4585 220.525 99.8595C210.836 101.264 202.274 106.357 196.416 114.201C190.557 122.045 188.105 131.701 189.509 141.39C190.913 151.079 196.006 159.641 203.85 165.499C210.251 170.28 217.857 172.793 225.704 172.793C227.473 172.793 229.256 172.664 231.038 172.406C231.58 172.328 232.116 172.234 232.649 172.133C231.579 217.033 197.254 253.204 155.215 253.204C119.741 253.204 88.8274 227.033 80.1379 190.347C81.9605 190.278 83.8501 190.17 85.8298 190.01C91.1562 189.948 95.4904 185.618 95.5321 180.269L95.6083 170.976L98.73 171.001H98.8088C101.403 171.001 103.846 170.001 105.697 168.179C107.568 166.338 108.61 163.878 108.631 161.254L108.706 151.719C116.817 149.969 131.09 144.77 141.195 129.367C156.254 106.414 156.988 69.7445 143.375 20.3705C142.357 16.6974 139.409 13.9619 135.686 13.2328L131.325 12.3709L131.532 11.3232C131.884 9.54066 131.521 7.72778 130.509 6.21765C129.497 4.70856 127.958 3.68344 126.175 3.33126L111.269 0.387724C104.514 -0.944257 97.9376 3.4641 96.6046 10.2162L96.4887 10.8011C95.1557 17.5531 99.5646 24.1322 106.317 25.4652V25.4657L121.224 28.4083C121.668 28.4963 122.114 28.5395 122.556 28.5395C123.89 28.5395 125.195 28.1452 126.329 27.3857C127.838 26.374 128.864 24.8355 129.216 23.0525L129.828 19.9478L134.195 20.8108C135.034 20.975 135.7 21.5965 135.931 22.4285C143.05 48.2526 146.144 70.6254 145.126 88.9256C144.305 103.694 140.809 115.875 134.737 125.131C126.866 137.127 116.305 141.9 108.768 143.792L108.779 142.409C108.799 139.785 107.797 137.311 105.958 135.44C104.118 133.57 101.66 132.53 99.0369 132.509C98.7887 132.507 98.5457 132.529 98.3037 132.574C93.1627 133.526 87.9758 134.131 82.8878 134.373C80.7578 134.474 79.1127 136.283 79.2142 138.413C79.3156 140.543 81.1187 142.184 83.2549 142.087C88.5386 141.836 93.917 141.218 99.25 140.253C99.7052 140.315 100.125 140.525 100.453 140.858C100.846 141.258 101.06 141.788 101.056 142.349L100.906 161.195C100.902 161.756 100.679 162.281 100.279 162.676C99.8792 163.07 99.3355 163.287 98.7902 163.279L95.5537 163.253C95.5347 163.253 95.5162 163.253 95.4976 163.253C91.3261 163.253 87.9161 166.629 87.8847 170.801L87.8074 180.208C87.7987 181.364 86.8482 182.287 85.6954 182.288C85.5801 182.285 78.5031 182.727 75.4942 182.703C75.4834 182.703 75.4721 182.703 75.4607 182.703C72.51 182.678 67.006 182.14 66.8464 182.139C65.6905 182.13 64.7575 181.183 64.7663 180.029L64.8435 170.619C64.8749 166.422 61.4881 162.981 57.2954 162.95L54.0564 162.924C53.4977 162.92 52.9736 162.697 52.5807 162.298C52.1868 161.897 51.9727 161.368 51.9773 160.807L52.1266 141.957C52.1348 140.895 52.9386 140.02 53.9683 139.894C57.7032 140.635 61.4731 141.202 65.1818 141.582C67.301 141.796 69.1993 140.257 69.4166 138.135C69.6339 136.013 68.0903 134.117 65.9685 133.899C62.3567 133.529 58.6799 132.968 55.0393 132.232C54.7967 132.182 54.5506 132.157 54.3035 132.155C54.2772 132.155 54.2515 132.155 54.2257 132.155C48.8448 132.155 44.4457 136.509 44.4035 141.896L44.3916 143.422C36.9321 141.497 26.4745 136.721 18.6551 124.89C12.5693 115.681 8.98935 103.547 8.0152 88.8242C6.81143 70.6306 9.59124 48.3746 16.2753 22.6792C16.4952 21.8395 17.1532 21.2082 18.0033 21.0291L22.3452 20.1033L23.0032 23.1998C23.6823 26.3946 26.5136 28.589 29.6559 28.589C30.1229 28.589 30.5971 28.5406 31.0718 28.4397L45.9342 25.2804C52.6667 23.8496 56.9798 17.2071 55.549 10.4752L55.4249 9.89232C54.7319 6.6311 52.8098 3.8343 50.0136 2.01885C47.2214 0.202369 43.8855 -0.41651 40.6233 0.277026L25.7604 3.4363C23.983 3.81422 22.4595 4.86199 21.4699 6.3855C20.4803 7.90953 20.1431 9.72756 20.521 11.5049L20.7429 12.5486L16.4072 13.4728C12.6851 14.2559 9.77247 17.0341 8.80605 20.7289C-3.98396 69.8943 -2.83682 106.372 12.2156 129.147C22.0574 144.039 35.5013 149.413 44.3324 151.344L44.2578 160.746C44.2372 163.368 45.2386 165.841 47.0783 167.711C48.9189 169.583 51.3769 170.625 53.9997 170.646L57.124 170.67L57.0478 179.966C57.0061 185.291 61.2337 189.673 66.5246 189.856C68.3261 190.088 70.2286 190.241 72.2196 190.332C76.3875 209.461 86.4327 226.888 100.734 239.676C116.059 253.38 135.408 260.926 155.217 260.926C177.875 260.926 199.259 251.389 215.429 234.069C231.532 216.824 240.4 194.061 240.4 169.973C240.4 169.899 240.393 169.827 240.389 169.755C246.19 167.246 251.266 163.265 255.15 158.065C261.007 150.22 263.46 140.565 262.056 130.876ZM121.819 20.6527L107.815 17.8878V17.8883C105.24 17.3796 103.559 14.8712 104.067 12.2968L104.183 11.7124C104.691 9.13751 107.198 7.45541 109.774 7.96463L123.778 10.7295L121.819 20.6527ZM42.2292 7.83127C44.7979 7.28705 47.329 8.93053 47.8743 11.4972L47.9983 12.08C48.5441 14.6472 46.8996 17.1799 44.3319 17.7256L30.3695 20.6934L28.2668 10.7995L42.2292 7.83127ZM229.932 164.763C214.144 167.053 199.441 156.069 197.152 140.282C196.044 132.634 197.98 125.014 202.604 118.822C207.228 112.631 213.986 108.611 221.633 107.503C223.034 107.299 224.425 107.201 225.802 107.201C239.931 107.201 252.328 117.597 254.413 131.984C256.7 147.77 245.719 162.475 229.932 164.763Z' fill='white'/%3E%3C/svg%3E");
        height: 260px;
        width: 262px;
        left: 360px;
        bottom: -52px; }
      .license::after {
        background-image: url("data:image/svg+xml,%3Csvg width='380' height='348' viewBox='0 0 380 348' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M347.396 34.0152C347.367 33.9857 347.338 33.957 347.309 33.9275H347.374C304.076 -9.49419 233.835 -9.78678 190.175 33.2718C146.439 -10.1376 75.7944 -9.87366 32.3851 33.8619C-11.0243 77.5975 -10.7604 148.242 32.9752 191.652L186.568 345.737C187.436 346.611 188.615 347.106 189.847 347.114H190.437C191.669 347.106 192.847 346.611 193.715 345.737L347.309 191.652C390.863 148.146 390.902 77.5688 347.396 34.0152ZM340.785 185.062L190.175 336.262L39.5648 185.062C30.7082 176.219 23.5621 165.815 18.4846 154.376L95.101 154.573C97.1459 154.578 98.9547 153.248 99.5596 151.294L119.46 86.3164L140.999 239.418C141.32 241.681 143.237 243.376 145.523 243.418C147.791 243.418 149.729 241.784 150.113 239.549L167.488 137.919L185.782 191.619C186.619 194.05 189.268 195.341 191.699 194.505C193.236 193.975 194.385 192.683 194.732 191.094L212.337 109.134L221.254 218.797C221.462 221.36 223.708 223.269 226.271 223.06C228.298 222.896 229.983 221.435 230.434 219.452L249.809 134.214L264.791 199.618C265.349 202.128 267.837 203.71 270.347 203.151C271.968 202.791 273.273 201.594 273.774 200.012L288.527 154.343L361.701 154.573C356.652 165.929 349.563 176.263 340.785 185.062ZM285.249 145.033C283.216 145.042 281.424 146.369 280.823 148.311L270.201 181.095L254.432 112.249C253.923 110.118 251.998 108.631 249.809 108.675C247.636 108.684 245.759 110.194 245.285 112.314L228.073 187.914L219.058 77.0713C218.823 74.5109 216.558 72.625 213.997 72.8594C211.983 73.0438 210.318 74.5076 209.878 76.4812L189.158 172.67L170.504 117.396C169.697 114.955 167.063 113.63 164.622 114.439C162.973 114.984 161.765 116.402 161.489 118.117L145.982 208.371L125.918 64.1216C125.547 61.5776 123.183 59.8162 120.639 60.1875C118.869 60.4457 117.405 61.6948 116.87 63.4004L91.8226 145.295L14.9112 145.065C2.70485 108.358 12.2442 67.9041 39.5648 40.5171V40.4843C79.4827 0.576257 144.192 0.576257 184.11 40.4843L186.864 43.2382C188.678 45.038 191.606 45.038 193.42 43.2382L196.174 40.4843C236.017 0.513148 300.719 0.409063 340.69 40.2515C368.267 67.7401 377.826 108.512 365.34 145.393L285.249 145.033Z' fill='white'/%3E%3C/svg%3E");
        height: 346px;
        width: 380px;
        right: -68px;
        top: 0; }
      .license .container .link {
        display: none; }
      .license .container .card-wrapper {
        z-index: 1; } }
  @media only screen and (min-width: 1200px) {
    .license .container {
      padding-top: 100px;
      padding-bottom: 100px; } }
  @media only screen and (min-width: 1900px) {
    .license::before {
      left: 585px; }
    .license::after {
      right: 193px;
      top: 80px; }
    .license .container {
      padding-top: 120px; } }

.acc-diagnosis .img-wrapper-desktop {
  display: none; }

.acc-diagnosis .container {
  overflow: hidden; }
  .acc-diagnosis .container .img-wrapper-mobile {
    display: flex; }
    .acc-diagnosis .container .img-wrapper-mobile img {
      position: relative;
      margin-left: auto;
      right: -15px; }
  .acc-diagnosis .container H2 {
    margin-bottom: 20px; }
  .acc-diagnosis .container p {
    margin-bottom: 15px; }

@media only screen and (min-width: 1200px) {
  .acc-diagnosis {
    position: relative; }
    .acc-diagnosis .container {
      padding-top: 120px;
      padding-bottom: 120px; }
      .acc-diagnosis .container .img-wrapper-mobile {
        display: none; }
      .acc-diagnosis .container h2,
      .acc-diagnosis .container p {
        margin-bottom: 35px; }
      .acc-diagnosis .container .items-wrapper {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 15px; }
        .acc-diagnosis .container .items-wrapper .li-item {
          width: 48%; }
      .acc-diagnosis .container .bellow {
        width: 57%; }
    .acc-diagnosis .img-wrapper-desktop {
      display: block;
      position: absolute;
      bottom: 0;
      right: 0; } }

.logos {
  background-color: #e7f7fe; }
  .logos h2 {
    width: 100%; }
  .logos .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; }
    .logos .container p {
      width: 90px;
      font-size: 10px;
      text-align: center; }
    .logos .container .img-wrapper {
      display: flex;
      align-items: center; }
      .logos .container .img-wrapper p {
        text-align: left;
        margin-left: 15px;
        width: 140px; }
  @media only screen and (max-width: 575px) {
    .logos .container {
      height: 267px; } }
  @media only screen and (min-width: 576px) {
    .logos .container {
      height: 700px; }
      .logos .container p {
        width: 140px;
        font-weight: 500;
        font-size: 15px;
        line-height: 18px; }
      .logos .container .img-wrapper p {
        width: 200px;
        font-weight: normal;
        margin-left: 12px;
        line-height: 14px; } }
  @media only screen and (min-width: 1200px) {
    .logos .container {
      padding-top: 100px;
      padding-bottom: 100px; } }

.main-rheumatology img {
  width: 100%; }

.main-rheumatology .container .diseases-wrapper p {
  margin-bottom: 14px; }

.main-rheumatology .container .img-wrapper {
  margin: 30px -15px; }

.main-rheumatology .container .symptoms-wrapper .li-item {
  margin-top: 14px;
  line-height: 1.6;
  margin-bottom: 0; }

.main-rheumatology .container .bellow {
  margin-top: 30px; }

@media only screen and (min-width: 768px) {
  .main-rheumatology .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .main-rheumatology .container .diseases-wrapper {
      width: 46%; }
      .main-rheumatology .container .diseases-wrapper p {
        margin-bottom: 35px; }
      .main-rheumatology .container .diseases-wrapper .diseases-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; }
        .main-rheumatology .container .diseases-wrapper .diseases-items .li-item {
          width: 47%;
          margin-bottom: 10px; }
    .main-rheumatology .container .img-wrapper {
      margin: 0; }
    .main-rheumatology .container .symptoms-wrapper {
      margin: 25px auto;
      width: 100%; }
      .main-rheumatology .container .symptoms-wrapper p {
        font-weight: 500; }
      .main-rheumatology .container .symptoms-wrapper .symptoms-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; }
        .main-rheumatology .container .symptoms-wrapper .symptoms-items .li-item {
          width: 40%;
          margin-top: 14px; }
    .main-rheumatology .container .bellow {
      margin: 0; } }

@media only screen and (min-width: 992px) {
  .main-rheumatology .container {
    padding-top: 100px;
    padding-bottom: 80px; }
    .main-rheumatology .container .diseases-wrapper {
      width: 60%; }
      .main-rheumatology .container .diseases-wrapper .diseases-items .li-item {
        margin-bottom: 17px; }
    .main-rheumatology .container .symptoms-wrapper {
      margin: 65px auto; }
      .main-rheumatology .container .symptoms-wrapper p {
        margin-bottom: 30px; }
      .main-rheumatology .container .symptoms-wrapper .li-item {
        margin-top: 18px; }
    .main-rheumatology .container .bellow {
      margin-top: 40px;
      line-height: 2; } }

@media only screen and (min-width: 1600px) {
  .main-rheumatology .container .bellow {
    margin: 0; } }
